<div class=" flex flex-row bg-neutral-200">

  <div class="basis-3/12 bg-white h-60">
  </div>
  <div class="basis-9/12 h-auto bg-slate-600 flex flex-row justify-center">
    <div class="basis-10/12 bg-white">
      <table class="w-full">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Sprite</th>
        </tr>
        <tr *ngFor="let pokemon of pokemonService.pokemonCharacters ">
            <td>{{pokemon.id}}</td>
            <td >{{pokemon.name}}</td>
            <td class="flex flex-row justify-center"><img src={{pokemon.sprites.front_default}} alt=""></td>
        </tr>
        <!-- #region
         <li *ngFor="let character of characterList;
          let i = index;
          let isFirst = first;
          let isLast = last;
          let isEven = even;
          let isOdd = odd;"
  class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass]="{'list-group-item-dark': isLast,
              'list-group-item-primary':isEven}">

<div>
  <span class="text-primary">{{ i+1 }}. </span>
  <span>{{ character.name }} - </span>
  <strong>Power: </strong>
  <span>{{character.power}}</span>
</div>

<button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>

</li>-->
    </table>
    </div>

  </div>

</div>

<!-- #region
        <div class="flex flex-col">
        <div class="flex flex-row justify-center pt-8">
            <div class="basis-1/12 bg-white text-center rounded-l-lg" (click)="getPokemons()">id</div>
            <div class="basis-2/12 bg-white text-center">Nombre</div>
            <div class="basis-3/12 bg-white text-center rounded-r-lg">Sprite</div>
        </div>
      </div>
-->
