<div class=" flex flex-row bg-neutral-200">

  <div class="basis-3/12 bg-white h-60">
  </div>
  <div class="basis-9/12 h-auto bg-slate-600">
      <div class="flex flex-col">
        <div class="flex flex-row justify-center pt-8">
            <div class="basis-1/12 bg-white text-center rounded-l-lg">id</div>
            <div class="basis-2/12 bg-white text-center">Nombre</div>
            <div class="basis-3/12 bg-white text-center rounded-r-lg">Sprite</div>
        </div>
      </div>
  </div>

</div>
