<div class=" flex flex-row bg-neutral-200">
  <div class="basis-3/12 h-auto flex flex-col">
    <div class=" flex flex-row justify-center mt-3">
      <input (keyup.enter)="searchPokemonByName()"   [(ngModel)]="pokemonSearchName" type="text" name="search pokemon" id="search-pokemon" placeholder="Search pokemon" class="py-1 my-1 rounded"/>
      <button 
        (click)="searchPokemonByName()"
        type="button"
        class="border-solid
               shadow-2xl 
               rounded
               px-4
               my-1 ml-3 
            bg-green-500 text-white hover:bg-green-700 disabled:bg-green-300"
        >buscar</button>
    </div>
    <div class="mx-4 my-10">
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div *ngIf="isPokemonSearched; else showDefaultContent">
            <div class="flex flex-row">
              <img class="rounded-t-lg" src={{pokemonSearched.sprites.front_default}} alt="" />
              <img class="rounded-t-lg" src={{pokemonSearched.sprites.back_default}} alt="" />
              <img class="rounded-t-lg" src={{pokemonSearched.sprites.front_shiny}} alt="" />
            </div>
            <div class="p-4">
                <span>
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{pokemonSearched.name}}</h5>
                </span>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Conoce a <span class="font-bold">{{ pokemonSearched.name }}</span>, un Pokémon de tipo <span class="font-bold">{{ pokemonSearched.types | joinTypes }}</span>. Este Pokémon es conocido por sus habilidades <span class="font-bold">{{pokemonSearched.abilities | joinAbilities }}</span> y tiene una altura de <span class="font-bold">{{ pokemonSearched.height }}</span> cm.</p>
            </div>
        </div>
        <ng-template #showDefaultContent>
          <div class="flex justify-center items-center py-10">
            <img class="rounded-t-lg" src="../../../../assets/background.png" alt="Imagen predeterminada"/>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="basis-9/12 h-auto bg-slate-600 flex flex-col justify-center">
    <table class="bg-white mt-4 mx-14 basis-8/12 flex flex-col border border-solid rounded shadow-2xl">
      <thead class="flex flex-row py-4 border border-solid">
        <tr class="basis-full  flex flex-row text-center">
          <td class="basis-4/12 font-mono text-xl font-bold">ID</td>
          <td class="basis-4/12 font-mono text-xl font-bold">NAME</td>
          <td class="basis-4/12 font-mono text-xl font-bold">SPRITE</td>
        </tr>
      </thead>
      <tbody class="flex flex-col">
        <tr *ngFor="let pokemon of pokemonCharacters"
          class="basis-full flex flex-row text-center border border-solid shadow hover:shadow-lg">
          <td class="basis-4/12 py-5"><span class="font-mono text-xl">{{pokemon.id}}</span> </td>
          <td class="basis-4/12 py-5"><span class="font-mono text-xl">{{pokemon.name}}</span></td>
          <td class="basis-4/12 flex flex-row justify-center"><img loading="lazy"
              class="max-w-[84px] max-h-[84px] object-contain" src={{pokemon.sprite.front_default}} alt=""></td>
        </tr>
      </tbody>
    </table>
    <!-- Contenedor de botones de paginación, ahora debajo de la tabla -->
    <div class="flex justify-center space-x-4 my-2">
      <button (click)="loadPokemons(previousPage)"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 disabled:bg-blue-300">Anterior</button>
      <button (click)="loadPokemons(nextPage)"
        class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 disabled:bg-blue-300">Siguiente</button>
    </div>
</div>
</div>